# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js --removed for production build
#next/ --removed for deployment
#out/ --removed for deployment

# production  --removed for production build
#build --removed for deployment

# misc
.DS_Store
.env
.env.local
.env.development
.env.production

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.vercel